body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #59a9b5;
}

h1{
    text-align: center;
    color: #2c3e50;
}
form{
    max-width: 600px;
    margin: auto;
    background-color: #438797;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.5);
    padding: 20px;
}
fieldset{
    border: 2px solid #0e0f09dc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}
legend{
    font-weight: bold;
    text-align: left;
    color: black;
}
label{
    display: block;
    margin-top: 10px;
    color: black;
}
input,textarea{
    width: calc(100% - 1px);
    padding: 8px;
    margin-top: 4px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}
button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #aadee6;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
button:hover{
    background-color: #2c3e50;
}
.proilepicture{
    display: block;
    margin: 0 auto;
    border: 2px solid #aadee6;
    box-shadow: 0 4px 8px rgba(11, 7, 211, 0.5);
    border-radius: 500%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}